---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
import { socials } from '@/components/items';
import { cn } from '@/lib/utils';
import { Image } from 'astro:assets';
import Yg from '@/components/icons/Yg.astro';
---

<Layout title="YoGi FS.">
  <main class="flex-1 max-w-lg mx-auto bg-black/25">
    <section class="relative w-full min-h-screen">
      <div class="w-full h-64 grid">
        <Image
          src="https://pbs.twimg.com/media/F5gjRe2W8AAJbIp?format=jpg&name=small"
          alt="me"
          width={250}
          height={250}
          class="w-40 h-40 rounded-full border-2 p-0.5 border-cyan-300/70 place-self-center"
          draggable="false"
        />
      </div>
      <div class="grid place-content-center py-4">
        <p>hi, i'm yogyy</p>
        <p class="text-xl text-gradient">i'm a frontend developer</p>
      </div>
      <div class="social text-white flex flex-col justify-between h-full">
        <ul class="flex flex-col gap-3 px-3">
          {
            socials.map(social => (
              <li class="flex rounded-sm justify-center bg-black/50 text-sm font-semibold hover:translate-x-3 h-auto transition duration-200 focus-within:translate-x-3 group">
                <a
                  href={social.link}
                  target="_blank"
                  class="inline-flex justify-center items-center gap-1 w-full py-2 outline-cyan-300 rounded-sm focus:bg-black group-hover:bg-black"
                >
                  <social.logo className="w-4 fill-[#05B8BB]" />
                  <span class="text-gradient">
                    {social.name.toLocaleLowerCase()}
                  </span>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="absolute bottom-0 w-full grid place-content-center">
        <p class="text-sm">© yogyy 2023</p>
      </div>
    </section>
  </main>
</Layout>
